[Unit]
Description=Qt SmartHome
After=multi-user.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/qtdemo.sh
#Restart=always

[Install]
WantedBy=multi-user.target
